{{define "title"}}Error{{end}}
{{define "main"}}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold text-light">404 <i class="bi bi-emoji-dizzy-fill"></i></h1>
            <p class="fs-3 text-light">Oops! There is nothing here.</p>
            <a href="/ui" class="btn btn-primary">Go to homepage</a>
        </div>
    </div>
{{end}}
